@tailwind base;
@tailwind components;
@tailwind utilities;

.animation-duration {
  animation-duration: 14000ms;
}

/* .spin-animation {
  animation-name: example;
  animation-duration: 4s;
  animation-timing-function: cubic-bezier(0, 1, 0, 0.99);
  animation-iteration-count: 1;
} */

.real {
  transition: rotate 2.5s cubic-bezier(0, 0.75, 0, 1);
}

.fake {
  transition: rotate 2s cubic-bezier(0, 0.75, 0, 1);
}
